<div
  class="container-fluid d-flex flex-column justify-content-center vw-80 vh-50 align-items-center"
>
  <h1
    class="rubik-vinyl-logo-name mt-3"
    style="font-weight: 300; font-size: mediums"
  >
    Something Went Wrong ! <br />
    <%= error %>
    <img src="/error-page.png" alt="404" style="height: 40px; width: 45px" />
  </h1>
  <img src="/roadblock.gif" alt="error" style="height: 300px; width: 260px" />
  <p><a href="/" class="link-secondary mt-0">Return back to Home</a></p>
</div>
